/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #2B2D31;
  margin: 0;
  font-family: "Poppins";
  color: #F2F3F5;
}
header {
  background: #1E1F22;
  box-shadow: 0px 2px 10px 0px #1E1F22;

}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #F9FAFC;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #1E1F22;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.1);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #F2F4F7;
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #EDEFF2;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #0F1011;
  padding: 8px 12px;
  border-radius: 4px;
  color: #F2F3F5;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: #131516;
  border: 0;
  color: #ffefef;
  font-weight: 500;
  padding: 10px 12px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  color: #131516;
  font-weight: 500;
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}